<div class="container" *ngIf="!hideSideMenu">
    <section class="right">
        <div class="container">
            <div class="wrapper">
              <div class="title"><span>Se connecter</span></div>
              <form action="#" [formGroup]="loginForm">
                <div class="row">
                  <i class="fas fa-lock"></i>
                  <input type="text" placeholder="Email " required formControlName="email">
                </div>
                <div class="row">
                  <i class="fas fa-lock"></i>
                  <input type="password" placeholder="Mot de passe" required formControlName="password">
                </div>
                
                <div class="row button">
                  <input type="submit" (click)="login()" value="Login">
                </div>
                <div class="signup-link">Vous etes nouveau? <a [routerLink]="['/register']" >Ecrire un compte</a></div>
              </form>
            </div>
          </div>
    </section>
    <section class="left">
        <div class="container">
            
            <div class="content">
              <a href="" target="_blank" >
                <div class="content-overlay"></div>
                <img class="content-image" src="https://images.pexels.com/photos/6169124/pexels-photo-6169124.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" style="width: 100%;">
                <div class="content-details fadeIn-left">
                  <h3>Bienvenue chez notre service  </h3>
                  <h3>livraison rapide et fiable</h3>
                </div>
              </a>
            </div>
          </div>
        
    </section>
</div>


<div>
  <div class="containermobile" *ngIf="hideSideMenu" >
    
    <section class="" style="margin: 10px;">
        <div class="" >
            <div class="wrapper">
              <div class="title">Se connecter</div>
              <form action="#" [formGroup]="loginForm">
                <div class="row">
                  <i class="fas fa-lock"></i>
                  <input type="text" placeholder="Email " required formControlName="email">
                </div>
                <div class="row">
                  <i class="fas fa-lock"></i>
                  <input type="password" placeholder="Mot de passe" required formControlName="password">
                </div>
                
                <div class="row button">
                  <input type="submit" (click)="login()" value="Login">
                </div>
                <div class="signup-link">Vous etes nouveau? <a [routerLink]="['/register']" >Ecrire un compte</a></div>
              </form>
            </div>
          </div>
    </section>
    <div style="text-align: center;" >
      
      
      <img src="https://mycolis.app/uploads/company/power-coursier/login-client/icon_colis.gif" alt="" style="width: 100%;">
      
</div> 
</div>
<div *ngIf="hideSideMenu" class="d-flex flex-column flex-sm-row justify-content-center py-4 my-4 border-top">
  <p style="text-align: center;">Copyright © 2023 Livrini. All Rights Reserved.</p>
  
</div>